<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Bar Database System
      {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">Bar System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'branch' branch_id=1 %}">Branch1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'branch' branch_id=2 %}">Branch2</a>
          </li>
        </ul>
        {% if branch_name %}
          <span class="navbar-text ml-auto text-white font-weight-bold" style="font-size: 1.5em;">
            {{ branch_name }}
          </span>
        {% endif %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="btn btn-primary" href="{% url 'reservation' %}">Make a Reservation</a>
          </li>
        </ul>
      </div>
    </nav>
    {% if request.path != '/' %}
    <button onclick="window.history.back();" class="btn btn-secondary" style="margin: 20px;">Back</button>
    {% endif %}
    <div class="container">{% block content %} {% endblock %}</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" ></script>
    {% block javascript %}{% endblock %}
  </body>
</html>