{% extends "base.html" %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;">
    <a href="{% url 'employee_option1' branch_id=branch_id %}" class="btn btn-primary" style="font-size: 2em; margin: 1em; padding: 1em;">Option 1</a>
    <a href="{% url 'employee_option2' branch_id=branch_id %}" class="btn btn-primary" style="font-size: 2em; margin: 1em; padding: 1em;">Option 2</a>
    <a href="{% url 'employee_option3' branch_id=branch_id %}" class="btn btn-primary" style="font-size: 2em; margin: 1em; padding: 1em;">Option 3</a>
    <a href="{% url 'employee_option4' branch_id=branch_id %}" class="btn btn-primary" style="font-size: 2em; margin: 1em; padding: 1em;">Option 4</a>
</div>
{% endblock %}