{%extends 'base.html' %}

{% block content %}

    <center>
    <h1> {{ current_month }} {{ current_year }} <span id="time"></span></h1>
    <h1> ICCS225 Project: Bar Database System </h1>
    </center>

    <style>
    .review-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .review-block {
      border: 1px solid #000;
      padding: 10px;
      margin: 10px;
      flex: 1 0 21%;
    }
    .title {
      text-align: center;
      border: 1px solid #000;
      padding: 10px;
      margin-bottom: 20px;
    }
    .review-form-container {
      width: 100%;
      border: 1px solid #000;
      padding: 10px;
      box-sizing: border-box;
      margin-top: 40px;
    }
  
    .review-form {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .form-column {
      flex: 1;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .review-form label, .review-form input, .review-form textarea {
      margin-top: 10px;
      display: block;
      margin-bottom: 10px;
    }
    .submit-button-container {
      margin-top: 20px;
    }
    </style>

  <div class="title mt-5">
      <h1>Reviews</h1>
  </div>

  <div class="review-container">
        {% for review in reviews %}
            <div class="review-block">
                <h2>{{ review.membership.first_name }} {{ review.membership.second_name }}{% if not review.membership %}Customer{% endif %}</h2>
                <h3>Rating: {{ review.rating }}</h3>
                <p>{{ review.feedbacks }}</p>
            </div>
        {% endfor %}
  </div>

  <div class="review-form-container">
    <h2>Submit a Review</h2>
    <form method="POST" class="review-form">
        {% csrf_token %}
        <div class="form-column">
            <label for="{{ form.membership.id_for_label }}">Membership:</label>
            {{ form.membership }}
            <label for="{{ form.rating.id_for_label }}">Rating:</label>
            {{ form.rating }}
            <div class="submit-button-container">
              <button type="submit">Submit</button>
            </div>
        </div>
        <div class="form-column">
            <label for="{{ form.feedbacks.id_for_label }}">Feedback:</label>
            {{ form.feedbacks }}
        </div>
    </form>
  </div>

{% endblock %}    
    
{% block javascript %}
<script>
window.onload = function() {
  console.log("JavaScript is running");
  function updateTime() {
    var d = new Date();
    var t = d.toLocaleTimeString();
    document.getElementById("time").innerHTML = t;
  }

  setInterval(updateTime, 1000);
}
</script>
{% endblock %}