{% extends "base.html" %}

{% block content %}
<style>
    .title {
        text-align: center;
        border: 1px solid #000;
        padding: 10px;
        margin-bottom: 20px;
    }
</style>

<div class="title">
<h1>Management</h1>
</div>

{% for branch in branches %}
    <h6>{{ branch.branch_name }}</h6>
    Locations: {{ branch.location.address_no }}, {{ branch.location.street_name }}, {{ branch.location.city_name }}, {{ branch.location.province_name }}, {{ branch.location.postal_code }}, {{ branch.location.country_name }}
{% endfor %}
<hr>

<h2>Reservations</h2>
{% for reservation in reservations %}
<div style="display: flex; flex-direction: row; justify-content: space-between; border: 1px solid #000; padding: 10px; margin-bottom: 10px;">
    <div>ID: {{ reservation.reservation_id }}</div>
    <div>Table: {{ reservation.table.table_id }}</div>
    <div>Membership: {% if reservation.membership %}{{ reservation.membership.membership_id }}{% else %}No{% endif %}</div>
    <div>Guest: {{ reservation.number_of_guests }}</div>
    <div>Time: {{ reservation.reservation_time }}</div>

</div>
{% endfor %}
<hr>

<h2>Employees</h2>
{% for employee in employees %}
<div style="display: flex; flex-direction: row; justify-content: space-between; border: 1px solid #000; padding: 10px; margin-bottom: 10px;">
    <div>ID: {{ employee.employee_id }}</div>
    <div>Name: {{ employee.first_name }} {{ employee.last_name }}</div>
    <div>Contact: {{ employee.contact_info }}</div>
    <div>Position: {{ employee.position.position_name }}</div>
    <div>Salary: ${{ employee.salary }}</div>
    <div>Hire Date: {{ employee.hire_date }}</div>
    <div>Schedule: {{ employee.schedule.shift_start }} - {{ employee.schedule.shift_end }}</div>
</div>
{% endfor %}
<hr>

<h2>Guests</h2>
{% for guest in guests %}
<div style="display: flex; flex-direction: row; justify-content: space-between; border: 1px solid #000; padding: 10px; margin-bottom: 10px;">
    <div>Name: {{ guest.guess_first_name }} {{ guest.guess_last_name }}</div>
    <div>Band: {{ guest.guess_band }}</div>
    <div>Table: {{ guest.table.table_id }}</div>
</div>
{% endfor %}
<hr>

<h2>Memberships</h2>
{% for membership in memberships %}
<div style="display: flex; flex-direction: row; justify-content: space-between; border: 1px solid #000; padding: 10px; margin-bottom: 10px;">
    <div>ID: {{ membership.membership_id }}</div>
    <div>Name: {{ membership.first_name }} {{ membership.second_name }}</div>
    <div>Contact: {{ membership.contact_info }}</div>
    <div>Status: {{ membership.membership_status }}</div>
</div>
{% endfor %}
<hr>

<h2>Security Logs</h2>
{% for log in security_logs %}
<div style="display: flex; flex-direction: row; justify-content: space-between; border: 1px solid #000; padding: 10px; margin-bottom: 10px;">
    <div>ID: {{ log.log_id }}</div>
    <div>Log Time: {{ log.log_time }}</div>
    <div>Employee ID: {{ log.employee_id }}</div>
    <div>Employee Name: {{ log.employee.first_name }} {{ log.employee.last_name }}</div>
    <div>Check-In: {{ log.activity_log }}</div>
</div>
{% endfor %}

{% endblock %}