{% extends 'base.html' %}

{% block content %}
<h1>Make a Reservation</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#id_branch').change(function () {
            var url = "{% url 'ajax_load_tables' %}";
            var branchId = $(this).val();
    
            $.ajax({
                url: url,
                data: {
                    'branch': branchId
                },
                success: function (data) {
                    $("#id_table").html(data);
                }
            });
        });
    });
    </script>

{% endblock %}