{% extends 'base.html' %}

{% block content %}
<style>
    .inventory {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .order {
        width: 200px;
        margin: 10px;
        margin-bottom: 20px;
        border: 1px solid #000;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
    }
    
    .title {
        text-align: center;
        border: 1px solid #000;
        padding: 10px;
        margin-bottom: 20px;
    }

    .button-container {
        position: fixed;
        bottom: 0;
        right: 0;
        display: flex;
    }

    .total-bill, .checkout-button {
        padding: 10px;
        background-color: #f8f8f8;
        border: 1px solid #000;
        width: 200px;
        height: 100%%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="title">
    <h1>Orders for Table {{ table_id }}</h1>
</div>

<div class="inventory">
{% if orders %}
<div class="orders flex-container">
    {% for order in orders %}
    <div class="order">
        <h2>Order {{ order.order_id }}</h2>
        {% for order_product in order.orderproduct_set.all %}
        <p>Item: {{ order.item.product_name }}</p>
        <p>Quantity: {{ order_product.quantity }}</p>
        <p>Price: ${{ order_product.total_price }}</p>
        <p>Status: {% if order.completed %}Completed{% else %}Pending{% endif %}</p>
        {% endfor %}
        {% if from_employees and not order.completed %}
        <form method="POST" action="{% url 'mark_complete' order.order_id %}">
            {% csrf_token %}
            <input type="checkbox" name="completed" {% if order.completed %}checked{% endif %}>
            <label for="completed">Mark as complete</label>
            <input type="submit" value="Update">
        </form>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% else %}
<p>No orders currently.</p>
{% endif %}
</div>

<div class="button-container">
    {% if from_employees %}
    <div class="checkout-button">
        <form method="POST" action="{% url 'checkout' %}">
            {% csrf_token %}
            <input type="hidden" name="table_id" value="{{ table_id }}">
            <input type="submit" value="Checkout">
        </form>
    </div>
    {% endif %}

    <div class="total-bill">
        <h2>Total bill: ${{ total_bill }}</h2>
    </div>
</div>

{% endblock %}